.header{
    height: 300px;
    background-color: rgb(134, 169, 134);
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.info{
    position: absolute;
    bottom: -30px;
    left: 10%;
    width: 80%;
    

    .intro{
        text-align: left;
    }
}

.edit{
    color : rgb(134, 169, 134);
}



.userForm{
    display: flex;
    flex-wrap: wrap;

    .form-group {
        flex: 1 1 calc(50% - 20px); 
        display: flex;
        margin-right: 20px;
        flex-direction: column;
}

.saveBtn{
    background-color: rgb(134, 169, 134);

}
}

.passwordIcon {
    position: relative;

    input {
        width: 100%;
        padding-right: 30px;
    }

    .eyeIcon {
        position: absolute;
        right: 10px;
        top: 65%;
        transform: translateY(-50%);
        color: gray;
        cursor: pointer;
        font-size: 18px;
    }
}

mat-list{
    cursor: pointer;
}



