.main {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    //background-image: linear-gradient(rgba(0,0,0,0.6), url('https://tse1.mm.bing.net/th/id/OIP.MtcY6Jh9oH56KTb2sGhrswHaEK?pid=Api&P=0&h=180'));
    background-image: url('https://tse1.mm.bing.net/th/id/OIP.MtcY6Jh9oH56KTb2sGhrswHaEK?pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .card {
        width: 600px;
        max-width: 90%;

        .loginHead {
            text-transform: uppercase;
        }

        h2 {
            margin-top: 10px;
            text-align: center;
        }
    }

}

.passwordIcon {
    position: relative;

    input {
        width: 100%;
        padding-right: 30px;
    }

    .eyeIcon {
        position: absolute;
        right: 10px;
        top: 35%;
        transform: translateY(-50%);
        color: gray;
        cursor: pointer;
        font-size: 18px;
    }
}